<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Vuetify Jeux Guillaume</title>

  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
  <link href="css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/png" href="FLAG-200x200.png" sizes="200x200">

</head>
<body>
  <div id="app">
    <v-app>
      <v-container fluid grid-list-xl>
        <v-layout row wrap>
          <v-flex xs12>
            <v-toolbar app>
                <v-toolbar-side-icon ></v-toolbar-side-icon>
                <v-toolbar-title v-text="title"></v-toolbar-title>
                <v-spacer></v-spacer>
                <v-layout>
                  <v-flex xs8>
                    <v-select v-bind:items="language_list" v-model="language_default" item-text="text" item-value="value" single-line></v-select>
                  </v-flex>
                </v-layout>          
              </v-toolbar>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-flex xs12 class="text-xs-center">
            <v-card>
              <v-btn-toggle v-model="toggle_exclusive">
                <v-btn block flat color="light-blue darken-4" v-on:click="setPageWords">{{ label_words_page_btn }}</v-btn>
                <v-btn block flat color="teal darken-3" v-on:click="setPageGame">{{ label_game_page_btn }}</v-btn>
              </v-btn-toggle>
            </v-card>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-flex xs12 v-if="whichPageToDisplay === 'table_words'">
            <v-btn block large round class="primary" ><v-icon>star</v-icon><v-spacer></v-spacer>Creer une Partie
              <v-spacer></v-spacer>
              <v-icon>star</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-flex xs12 v-if="whichPageToDisplay === 'table_words'">
            <v-card dark>
              <v-card-title>
                  <v-text-field
                    append-icon="search"
                    label="Recherche"
                    single-line
                    hide-details
                    v-model="table_words_search"
                  ></v-text-field>
                </v-card-title>
              <template>
                <v-data-table
                  v-bind:headers="table_words_header" :items="table_words_items" :search="table_words_search"
                  hide-actions
                  class="elevation-1"
                  dark
                >
                <template slot="headerCell" slot-scope="props">
                        <h1 class="text-xs-center">{{ props.header.text }}</h1>
                </template>
                <template slot="items" slot-scope="props">
                  <td class="text-xs-center"><h2>{{ props.item.word }}</h2></td>
                  <td class="text-xs-center">
                    <v-progress-circular
                      v-bind:value="props.item.difficulty * 20"
                      :size="50"
                      :width="5"
                      :rotate="360"
                      :color="getColorForDifficuty(props.item.difficulty)"
                      >
                        {{ props.item.difficulty }}
                    </v-progress-circular>
                  </td>
                  <td class="text-xs-left">
                    <v-tooltip top>
                      <v-btn icon slot="activator"><v-icon large>info</v-icon></v-btn>
                      <span><div><h2>{{ props.item.hint }}</h2></div></span>
                    </v-tooltip>
                  </td>
                </template>
                </v-data-table>                 
              </template>
            </v-card>
          </v-flex>
          <v-flex xs12 v-if="whichPageToDisplay === 'table_game'">
            <v-card>
            <template>
            <v-data-table
              v-bind:headers="table_game_header" :items="table_game_items"
              hide-actions
              class="elevation-1"
              dark
            >
            <template slot="items" slot-scope="props">
              <td class="text-xs-left">{{ props.item.line }}</td>
              <td class="text-xs-left">{{ props.item.word }}</td>
              <td class="text-xs-left">{{ props.item.difficulty }}</td>
              <td class="text-xs-left">{{ props.item.hint }}</td>
            </template>
            </v-data-table>
          </template>
          </v-card>
          </v-flex>
        </v-layout>
      </v-container>

  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
    Vue.component('page', {
      template: '#page'
    })
    var vm = new Vue({
      el: '#app',
      data: {
        clipped: false,
        drawer: true,
        fixed: false,
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: "La course aux mimes !!!",
        label_words_page_btn: "--------- Liste de Mots ---------",
        label_game_page_btn: "---------- Partie en Cours ----------",
        whichPageToDisplay: "table_words",
        language_default: 1,
        toggle_exclusive: 0,
        language_list: [
            { text: 'Français', value: 'Français' },
            { text: 'English', value: 'English' }
        ],
        table_words_header: [
          { text: 'Mot', value: 'word', align: 'left' },
          { text: 'Difficulté', value: 'difficulty', align: 'left' },
          { text: 'Indice', value: 'hint', align: 'left', sortable: false }
        ],
        table_words_items: [],
        table_words_search: '',
        table_game_header: [
            { text: 'Mot', value: 'word', align: 'left', sortable: false },
            { text: 'Statut', value: 'word', align: 'left', sortable: false },
            { text: 'Indice', value: 'word', align: 'left', sortable: false }
        ],
        table_game_items: []

        },
      methods: {
          getWordList: function() {
               axios.get('get-word-list').then(function(response) {
                     console.log("in axios")
                     console.log("response: " + response.data)
                     vm.table_words_items = response.data
                  }).catch(function(error) {
                     console.log(error.response.data)
                  });

          },
          setPageWords: function() {
            this.whichPageToDisplay = "table_words"
          },
          setPageGame: function() {
            this.whichPageToDisplay = "table_game"
          },
          getColorForDifficuty: function (valDifficulty) {
            switch(valDifficulty) {
              case 1:
                return "green lighten-3"
                break
              case 2:
                return "green darken-1"
                break
              case 3:
                return "amber lighten-3"
                break
              case 4:
                return "amber darken-4"
                break  
              case 5:
                return "red darken-1"
                break                
            }
          },
      },
      computed: {

      },
      beforeMount() {
        this.getWordList()
      }


    }) // End Vue


  </script>
</body>
</html>
